#timers-page {
    > * {
        margin-bottom: 20px;
    }
    #timers {
        .timer {
            display: flex;
            justify-content: space-between;
            .duration {
                display: flex;
                justify-content: flex-end;
                width: 50px;
            }
        }
    }
}