#exercises {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	> div {
		margin: 0 20px;
	}
	#new-exercise {
		.flex {
			display: flex;
			flex-wrap: wrap;
			.priority, .step-number, .default-quantity {
				//width: 30px;
			}
			> * {
				margin: 10px;
			}
		}
	}
	#exercise-filters {
		.flex {
			display: flex;
			justify-content: center;
			input {
				width: 200px;
				&:last-child {
					width: 100px;
				}
			}
			> * {
				margin: 0 10px;
			}
		}
	}
}

#default-exercise-unit-popup-checkboxes {
	display: flex;
	flex-wrap: wrap;
	label {
		padding: 2px 8px;
	}
}