#exercises {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	> div {
		margin: 0 20px;
	}
}

#default-exercise-unit-popup-checkboxes {
	display: flex;
	flex-wrap: wrap;
	label {
		padding: 2px 8px;
	}
}

#workouts {
	.flex {
		display:flex;
		flex-wrap: wrap;
	}
}