/*==============================global==============================*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: $lightgrey;
}

body {
	padding-top: 63px;
	@media (max-width: 600px) {
		padding-top: 42px;
	}
}

p {
	width: 238px;
	padding: 0 20px;
	text-align: center;
}

select {
	// font-size: 22px;
	padding-top: 4px;
}

input {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: scroll;
	background: transparent;
	text-align: center;
}

input[type="checkbox"] {
	// height: 34px;
	// width: 34px;
	margin: 0;
}



th, table {
	text-align: center;
	@media (max-width: 600px) {
		font-size: 7px;
	}
}


caption {
	padding: 8px;
	font-weight: bold;
}

li {
	list-style-type: none;
}

h1 {
	@media (max-width: 600px) {
		font-size: 20px;
		margin: 2px 2px;
	}
}

