#info-entries-wrapper {
	display: flex;
	justify-content: space-around;
}

#entries {
	display: flex;
	justify-content: space-around;
    caption {
        font-weight: 500;
    }
	> * {
		flex-grow: 1;
		margin: 0px 10px;
	}
}

.row {
	@media (max-width: 320px) {
		max-width: 300px;
	}
}

.container {
	@media (max-width: 320px) {
		padding: 0 5px;
	}
}

body {
	@media (max-width: 320px) {
		max-width: 280px;
	}
}

html {
	@media (max-width: 320px) {
		max-width: 280px;
	}
}

body.browser-height {
    box-sizing: border-box;
}

.table {
    width: 100%;
}

.label {
    margin-right: 3px;
}